<h1>Ghost Post!</h1>
{% if form %}
<details>
<summary>Click To add new &#128123; post!;</summary>
<form action='' method='post'>
    {% csrf_token %}
    {{form.as_p}}
    <input type='submit' value='Add Post'>
</form>
</details>
{% endif %}
<p>
<a href = {%url 'home'%}><button>View ALL Post</button></a> |
<a href = {%url 'boast'%}><button>View Boast</button></a> |
<a href = {%url 'roast'%}><button>View Roast</button></a> |
<a href = {%url 'vote'%}><button>Votes</button></a>
</p>

{% for post in data %}
    <li><a href = {% url 'post_details' id=post.id %}>{{ post }}</a> <br> {{ post.date }} <br> {{ post.body }}</li>
    {{ post.results }} -- Like(s)!<br>
{% endfor %}
